a:link {
    color: rgb(175, 210, 255);
    } 
a:visited {
    color: rgb(151, 44, 250);
}
a.haikei:visited {
    color: rgb(206, 154, 255);
}
a:hover {
      text-decoration: none;
    }
div.nosticky * {
      position: static;
  }
  h1 {
    background: linear-gradient(to top, rgb(43, 43, 43), #298086 25%);
    color: rgb(255, 255, 255);
    padding: 10px;
    top: 0;
    left: 0;
    margin: 1em 0;
    border-bottom-right-radius: 0.5em;
    border-bottom-left-radius: 0.5em;
  }
h2 {
    background: linear-gradient(to top, rgb(43, 43, 43), #298086 25%);
    color: rgb(255, 255, 255);
    position: sticky;
    padding: 10px;
    top: 0;
    left: 0;
    margin: 1em 0;
  }
  h3 {
      background: linear-gradient(to top, rgb(43, 43, 43), #298086 25%);
      color: rgb(255, 255, 255);
      padding: 5px;
      top: 0;
      left: 0;
      margin: 1em 0;
    }
    h4 {
        background: linear-gradient(to top, rgb(43, 43, 43), #298086 25%);
        color: rgb(255, 255, 255);
        padding: 2.5px;
        top: 0;
        left: 0;
        margin: 1em 0;
      }

hr {
    border: none;
    height: 5px;
    background: linear-gradient(to top, #B1D1D7 50%, #7B98AD 50%);
}
body {
   background-color: rgb(38, 38, 38);
   color:white;
  }
div.title {
    background-color: #298086 ;
}
div.sidebar {
  position: sticky;
  float: left;
  width: 15%;
  border: 1px solid #298086;
}
div.main {
  width: 84%;
  float: right;
}
div.main *:not(h2) {
  line-height: 1.4;
}
div.copyright {
  clear: both;
  width: 100%;
}
div.SuperUltraHyperSugoiTokoro{
 text-align: center ;
 color: #ffffff ;
 font-size: 2em ;
}
div.download {
    text-align: center ;
    color: #ffffff ;
    font-size: 1.5em;
    line-height: 1.5em;
}
iframe {
  border: none;
  width:100%;
  height: 100%;
}
pre {
  border: 2px solid #298086;
  padding: 3px;
  background-color: rgb(65, 65, 65);
}

code {
  border: 1px solid #298086;
  padding: 2px;
  background-color: rgb(65, 65, 65);
}

blockquote.error {
  border: 1px solid #ff6078;
	margin: 0 0% 0 1%;
	border-left-width: 5px;
	border-left-style: solid;
  padding-left: 5px;
}

blockquote.warn {
  border: 1px solid #fcff5b;
	margin: 0 0% 0 1%;
	border-left-width: 5px;
	border-left-style: solid;
  padding-left: 5px;
}

blockquote {
  border: 1px solid #298086;
	margin: 0 0% 0 1%;
	border-left-width: 5px;
	border-left-style: solid;
  padding-left: 5px;
}

img {
  border: 1px solid #298086;
  padding: 5px
}

button {
    font-size: 1em;
    background-color: #298086;
    color: #ffffff;
}